<div class="header">
    <div class="content">
        <p class="logo brandon">SPOUSEWELL</p>
    </div>
</div>

<div class="hero invite">
<form method='post'>
    <table border="0" cellpadding="0" cellspacing="0" align="center" width="400">

    <tr><td align="right">Your Email:&nbsp;</td><td><input type="text" name="sender[email]" size="14" style="width:100%;" value="" required=true></td></tr>
    <tr><td align="right">Your Name:&nbsp;</td><td><input type="text" name="sender[name]" size="14" style="width:100%;" value="" required=true></td></tr>

    <tr><td align="right"><b>Subject:&nbsp;</b></td><td><input type="text" name="invite[subject]" size="14" style="width:100%;" value="Spousewell is coming!" required=true></td></tr>

    <tr><td colspan="2">
        <textarea name="invite[msg]" cols="22" rows="8" style="width:98%;">Say something about this...

Wedding is within reach. Didn't want to leave you all behind.
        </textarea></td></tr>
        <tr><td colspan="2">
        <b>Invite Friends: </b>
        <div><small>(Type friend’s email & firstname)</small></div>
        </td></tr>
    <tr>
        <td colspan="2">
            <table border="0" cellpadding="0" cellspacing="0" width='400' class='margin'><!-- Form Table -->
                <tbody><tr><td><b>Email:</b></td><td><b>Name:</b></td></tr>
                <% 10.times.each do |index|%>
                    <tr><td><input type="text" name="invite[to][<%= index %>][email]" style="width:200px;" size="9" value=""></td><td><input type="text" name="invite[to][<%= index %>][name]" style="width:200px;" size="9" value=""></td></tr>
                <% end %>
            </tbody></table>
        </td>
    </tr>
    <tr><td colspan="2"><img src="./images/spacer.gif" border="0" width="1" height="5"></td></tr>


        <tr>
            <td align="right" colspan="2">
                <input type="submit" value="Send Message >>>" style="font-weight:bold;">
            </td>
        </tr>

</tbody></table>
</form>
</div>