<div class="footer">
  <div class="term-condition">
      <p><a href="/term">Terms &amp; Conditions</a> &nbsp|&nbsp <a href="/privacy-policy">Privacy Policy</a></p>
      <p>*GQ &amp; Dollar Shave Club are in no way affiliated with this contest</p>
      <p>GQ&reg; is a registered trademark of Conde Nast Inc.</p>
  </div>
</div>