<head>
    <link rel="shortcut icon" href="http://d2owzzusdvisuq.cloudfront.net/img/favicon.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="Savile Row Society, Personal stylist, personal shopping, Menswear online shopping, Men&amp;#039;s fashion clothing Online, Buy Mens Clothing Online, personal online shopping, online fashion website, Online shopping website, online fashion shopping" />
    <meta name="description" content="Savile Row Society is a mens personal shopping platform that connects professional men with personal stylists. Buy Mens designer fashion clothing Online at USA favourite online fashion shopping website - savilerowsociety.com" />
    <link rel="shortcut icon" type="text/css" href="http://www.savilerowsociety.com/" />
    <link rel="apple-touch-icon" type="text/css" href="http://www.savilerowsociety.com/css/img/css/apple-touch-icon.png.css" />
    <link rel="apple-touch-icon" type="text/css" href="http://www.savilerowsociety.com/css/img/css/apple-touch-icon-72x72.png.css" sizes="72x72" />
    <link rel="apple-touch-icon" type="text/css" href="http://www.savilerowsociety.com/css/img/css/apple-touch-icon-114x114.png.css" sizes="114x114" />

    <link rel="stylesheet" type="text/css" href="css/style-alt.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/referral.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/jquery.fancybox.css" media="screen" />
    <%= csrf_meta_tags %>
    <script src="https://use.typekit.net/mpj5nps.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <script type="text/javascript">
        <!--//--><![CDATA[//><!--
            if (document.images) {
                img1 = new Image();
                img2 = new Image();

                img1.src = "images/img-signup.png";
                img2.src = "images/img-login.png";
            }
        //--><!]]>
    </script>
    <!--[if lt IE 9]>
        <script type="text/javascript" src="http://d2owzzusdvisuq.cloudfront.net/js/common/jquery-1.11.0.min.js"></script>
    <![endif]-->
    <!--[if (gte IE 9) | (!IE)]><!-->
        <script type="text/javascript" src="http://d2owzzusdvisuq.cloudfront.net/js/common/jquery-2.1.0.min.js"></script>
    <!--<![endif]-->
    <title>Savil.me - Personal Stylist Menswear Online Fashion Shopping Website</title>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-36935088-1', 'auto');
      ga('send', 'pageview');

    </script>
</head>