<div class="wrap">
    <div class="header clearfix">
        <h1 class="logo"><img src="images/Savil.me-logo.png" alt="Savil.me" /></h1>
        <ul>
            <li><a href="http://twitter.com/srsocietydotcom" target="_blank" class="icon-twitter">Twitter</a></li>
            <li><a href="http://facebook.com/SavileRowSociety" target="_blank" class="icon-facebook">Facebook</a></li>
            <li><a href="http://www.savilerowsociety.com/blog/" target="_blank" class="icon-rss">RSS Feed</a></li>
            <li><a href="https://instagram.com/savilerowsociety" target="_blank" class="icon-instagram">Instagram</a></li>
        </ul>
    </div><!--/.header-->
</div><!--/.wrap-->

